/************/
/** bypass **/
/************/
div{
    display: block;
}
span{
    font-size: 1.5em;
}








/***************/
/** specifics **/
/***************/
#gameScreen{
    position: absolute;
    top: auto;
    bottom: auto;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    height: 100%;

    color: rgb(235, 235, 235);

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


#tab1_divEsq{
    width: 25%;

    padding-top: 40px;
    padding-left: 20px;
    padding-right: 0px; 

    grid-template-columns: 1fr 1fr;
}

#tab1_divCent{
    width: 40%;
    
    padding-left: 10px;
    padding-right: 20px;
}

#tab1_divDir{
    width: 35%;
    
    padding-left: 20px;
    padding-top: 10px;
}



#tab2_divEsq{
    width: 40%;
}

#tab2_divDir{
    width: 60%;
}




/*************/
/** classes **/
/*************/
.interactableButton{
    height: 40px;

    border: solid 2px rgb(211, 211, 211);
    padding: 10px 0 10px 0;

    vertical-align: middle;
    
    text-align: center;

    display: flex;
    justify-content: center;

    align-items: center;
    cursor: pointer;

    user-select: none;

    margin-bottom: 10px;
    
    border-radius: 10%;
}
:hover{
    border-color: rgb(151, 151, 151);
}
:active{
    border-color: rgb(59, 59, 59);
}







._visible{
    display: block;
}

.tab{
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    height: 100%;
}

.tab:not(._visible){
    display: none
}








.column{
    min-height: 100%;
    height: 100%;

    float: left;
    /* display: inline-block; */
    /* position: fixed; */
    border: 1px rgb(182, 182, 182);
    border-style: dashed;

    box-sizing: border-box;
}
