/************/
/** bypass **/
/************/
div{
    display: block;
}
span{
    font-size: 1.5em;
}
p{
    font-size: 1.5em;
}
ul{
    padding: 0;
    margin: 0;
}
li::marker{
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1em;
}






/***************/
/** specifics **/
/***************/
#gameScreen{
    position: absolute;
    top: auto;
    bottom: auto;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    height: 100%;

    color: rgb(235, 235, 235);

    font-family: 'Times New Roman';
    font-size: 20px;
}


#tab1_divEsq{
    width: 25%;


    grid-template-columns: 1fr 1fr;
}

#tab1_divCent{
    width: 40%;
    
}

#tab1_divDir{
    width: 35%;
    
}



#tab2_divEsq{
    width: 40%;
}

#tab2_divDir{
    width: 60%;
}




/*************/
/** classes **/
/*************/
.interactableButton{
    height: 40px;

    border: solid 3px rgb(211, 211, 211);
    padding: 2px 0 2px 0;

    vertical-align: middle;
    
    text-align: center;

    display: flex;
    justify-content: center;

    align-items: center;
    cursor: pointer;

    user-select: none;

    margin-bottom: 5px;
    
    border-radius: 10%;
}
:hover{
    border-color: rgb(151, 151, 151);
}
:active{
    border-color: rgb(59, 59, 59);
    
}


.tab{
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    height: 100%;
}




._visible{
    display: flex;
}
.interactableButton:not(._visible),
.tab:not(._visible){
    display: none
}





/* ul */
.loreList{
    list-style-type: circle;

    padding-left: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

/* li */
.lore{
    display: list-item;
    box-sizing: border-box;
}
.lore.newLore{
    animation-name: newLoreAnimation;
    animation-duration: 1s;
}

@keyframes newLoreAnimation{
    0% {background-color: white;}
    25% {background-color: white;}
}















/* ul */
.statusList{
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

/* li - div*/
.status{
    display: flex;
    width: 50%;
    margin-bottom: 0px;
    box-sizing: border-box;
    list-style-position: inside
}












/* ul */
.resourceList {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

/* li - span */
.resource {
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
}












.column{
    min-height: 100%;
    height: 100%;

    float: left;
    /* display: inline-block; */
    /* position: fixed; */
    border: 1px rgb(182, 182, 182);
    border-style: dashed;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    box-sizing: border-box;
}
