/*defaults*/
h1 {
    color: limegreen;
    width: auto;
}
p {
    color: red
}

/*********************************/
/*********************************/
/*********************************/
.topo{
    color: purple;
    font-size: 100px;
}
